include LICENSE
include README.rst
include pyproject.toml
include requirements.txt
include conf
recursive-include data *
recursive-include web *
recursive-include templates *
recursive-include scripts *
