<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="assets/img/ico/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="assets/img/ico/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="assets/img/ico/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="assets/img/ico/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      href="assets/img/ico/apple-touch-icon-57x57.png"
    />

    <title>CRS registry</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/plugins.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link
      href="assets/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/pe-icons.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body id="page-top" class="index">
    <div class="master-wrapper">
      <div class="preloader">
        <div class="preloader-img">
          <span class="loading-animation animate-flicker"
            ><img src="assets/img/loading.GIF" alt="loading"
          /></span>
        </div>
      </div>

      <!-- Navigation -->
      <nav
        class="navbar navbar-default navbar-fixed-top fadeInDown"
        data-wow-delay="0.5s"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#main-navigation"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand smoothie logo logo-light" href="."
              ><img src="assets/img/logo.png" alt="logo"
            /></a>
            <a class="navbar-brand smoothie logo logo-dark" href="."
              ><img src="assets/img/logo_reverse.png" alt="logo"
            /></a>
          </div>

          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>

      <!-- Header -->
      <header
        id="headerwrap"
        class="fullheight dark-wrapper opaqued parallax"
        data-parallax="scroll"
        data-image-src="assets/img/bg/bg6.jpg"
        data-speed="0.7"
      >
        <div class="container vertical-center">
          <div class="intro-text vertical-center text-left smoothie">
            <div
              class="intro-heading wow fadeIn heading-font"
              data-wow-delay="0.2s"
            >
              404
            </div>
            <div
              class="intro-sub-heading wow fadeIn secondary-font"
              data-wow-delay="0.4s"
            >
              <span class="rotate"
                >The requested URL, isnt here im afraid.</span
              >
            </div>
          </div>
        </div>
      </header>

      <div id="footer-wrapper">
        <footer class="white-wrapper">
          <div class="container">
            <div class="row">
              <hr class="thin-hr" />

              <div class="col-md-12 text-center wow">
                <span class="copyright"
                  >Copyright 2021. Jean-Christophe Malapert</span
                >
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/js/plugins.js"></script>

    <!-- Custom JavaScript -->
    <script src="assets/js/init.js"></script>
  </body>
</html>
