<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <!--[if IE
      ]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"
    /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="assets/img/ico/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="assets/img/ico/apple-touch-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="assets/img/ico/apple-touch-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="assets/img/ico/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      href="assets/img/ico/apple-touch-icon-57x57.png"
    />

    <title>CRS registry</title>

    <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/animate.css" rel="stylesheet" />
    <link href="assets/css/plugins.css" rel="stylesheet" />

    <!-- Custom CSS -->
    <link href="assets/css/style.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link
      href="assets/font-awesome/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link href="assets/css/pe-icons.css" rel="stylesheet" />
  </head>

  <body id="page-top" class="index">
    <div class="master-wrapper">
      <div class="preloader">
        <div class="preloader-img">
          <span class="loading-animation animate-flicker"
            ><img src="assets/img/loading.GIF" alt="loading"
          /></span>
        </div>
      </div>

      <!-- Navigation -->
      <nav
        class="navbar navbar-default navbar-fixed-top fadeInDown"
        data-wow-delay="0.5s"
      >
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header page-scroll">
            <button
              type="button"
              class="navbar-toggle"
              data-toggle="collapse"
              data-target="#main-navigation"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand smoothie logo logo-light" href="."
              ><img src="assets/img/logo.png" alt="logo"
            /></a>
            <a class="navbar-brand smoothie logo logo-dark" href="."
              ><img src="assets/img/logo_reverse.png" alt="logo"
            /></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Search WKT by <span class="pe-7s-angle-down"></span
                ></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      >Search WKT by - Planet Name</a
                    >
                    <ul class="dropdown-menu">
                      <li><a href="mercury.html">Planet Name - Mercury</a></li>
                      <li><a href="venus.html">Planet Name - Venus</a></li>
                      <li><a href="earth.html">Planet Name - Earth</a></li>
                      <li><a href="mars.html">Planet Name - Mars</a></li>
                      <li><a href="jupiter.html">Planet Name - Jupiter</a></li>
                      <li><a href="saturn.html">Planet Name - Saturn</a></li>
                      <li><a href="uranus.html">Planet Name - Uranus</a></li>
                      <li><a href="neptune.html">Planet Name - Neptune</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      >Search WKT by - ID</a
                    >
                    <ul class="dropdown-menu">
                      <li><a href="all_ids.html">List all IDs</a></li>
                    </ul>
                  </li>
                  <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                      >Search WKT by - Version</a
                    >
                    <ul class="dropdown-menu">
                      {% for version in versions %}
                      <li>
                        <a href="{{version}}.html">Version - {{version}}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Documentation <span class="pe-7s-angle-down"></span
                ></a>
                <ul class="dropdown-menu">
                  <li>
                    <a href="/docs">Documentation - docs</a>
                  </li>
                  <li>
                    <a href="/redoc">Documentation - redoc</a>
                  </li>
                </ul>
              </li>

              <li>
                <a href="#search"><i class="pe-7s-search"></i></a>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>

      <div id="search-wrapper">
        <button type="button" class="close">×</button>
        <div class="vertical-center text-center">
          <form action="#">
            <input
              type="text"
              name="search_terms"
              id="search_terms"
              value=""
              placeholder="Enter Search Term"
            />
            <button type="submit" class="btn btn-primary btn-white">
              Search
            </button>
          </form>
        </div>
      </div>

      <!-- Header -->
      <header
        id="headerwrap"
        class="backstretched fullheight agency-slider backstretch-overlay-alt"
      >
        <div class="container vertical-center">
          <div class="intro-text vertical-center text-left smoothie">
            <div
              class="intro-heading wow fadeIn heading-font"
              data-wow-delay="0.2s"
            >
              Welcome to CRS Registry
            </div>
            <div
              class="intro-sub-heading wow fadeIn secondary-font"
              data-wow-delay="0.4s"
            >
              Find the Well Known Text for
              <span class="rotate">planets, satellites, asteroids, comets</span>
            </div>
            <a
              href="#welcome"
              class="btn btn-primary btn-white mt30 page-scroll"
              data-wow-delay="0.6s"
              >Find Out More</a
            >
          </div>
        </div>
      </header>

      <section id="welcome">
        <div class="section-inner nopaddingbottom">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 mb100 wow">
                <h2 class="section-heading">
                  Welcome to the coordinates reference system registry for solar
                  bodies
                </h2>
                <h3 class="section-subheading secondary-font">
                  Official WKT registry.
                </h3>
              </div>
            </div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6">
                <p class="lead">
                  Well-known text representation of coordinate reference systems
                  (WKT or WKT-CRS) is a text markup language for representing
                  spatial reference systems and transformations between spatial
                  reference systems.
                </p>
                <p>
                  It exists several coordinate reference systems (CRS) for each
                  body in the solar system. For interoperability issues between
                  the data providers, the IAU identifiers must be defined. Each
                  IAU identifier is related to a CRS, which is defined in the
                  WKT-crs standard. The use of the WKT-crs allows the GIS tools
                  to understand the semantic of the CRS definition. In addition
                  to that, the use of this standard is important so that the IAU
                  identifier can be standardized at OGC later on.
                </p>
                <p class="mt30"></p>
              </div>

              <div class="col-md-6">
                <img
                  src="assets/img/cs.png"
                  class="img-responsive alignright wow fadeIn"
                  data-wow-delay="0.5s"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="white-bg">
        <div class="section-inner nopadding-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-9 match-height">
                <div class="row">
                  <div class="col-xs-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section
        class="dark-wrapper opaqued parallax"
        data-parallax="scroll"
        data-image-src="assets/img/bg/bg6.jpg"
        data-speed="0.7"
      >
        <div id="contact-tabs" role="tabpanel">
          <!-- Tab panes -->
          <div class="tab-content" id="tabs-collapse">
            <div role="tabpanel" class="tab-pane fade in active" id="contact1">
              <div id="contact-inner" class="nopadding-lr">
                <div class="contact-section-inner">
                  <div class="container">
                    <div class="row">
                      <div class="col-sm-8 col-sm-offset-2">
                        <div id="message"></div>
                        <form
                          method="post"
                          action="sendemail.php"
                          id="contactform"
                          class="main-contact-form wow"
                        >
                          <input
                            type="text"
                            class="form-control col-md-4"
                            name="firstname"
                            placeholder="Your firstname *"
                            id="firstname"
                            required
                            data-validation-required-message="Please enter your firstname."
                          />
                          <input
                            type="text"
                            class="form-control col-md-4"
                            name="name"
                            placeholder="Your name *"
                            id="name"
                            required
                            data-validation-required-message="Please enter your name."
                          />
                          <input
                            type="text"
                            class="form-control col-md-4"
                            name="email"
                            placeholder="Your Email *"
                            id="email"
                            required
                            data-validation-required-message="Please enter your email address."
                          />
                          <textarea
                            name="comments"
                            class="form-control"
                            id="comments"
                            placeholder="Your Message *"
                            required
                            data-validation-required-message="Please enter a message."
                          ></textarea>
                          <input
                            class="btn btn-primary mt30 btn-white pull-right"
                            type="submit"
                            name="submit"
                            value="Submit"
                          />
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div role="tabpanel" class="tab-pane fade" id="contact2">
              <div id="mapwrapper"></div>
            </div>
          </div>
        </div>
      </section>

      <section class="opaqued light-opaqued parallax">
        <div class="section-inner">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <ul
                  class="
                    owl-carousel-paged
                    testimonial-owl
                    wow
                    fadeIn
                    list-unstyled
                  "
                  data-items="4"
                  data-items-desktop="[1200,4]"
                  data-items-desktop-small="[980,4]"
                  data-items-tablet="[768,3]"
                  data-items-mobile="[479,2]"
                >
                  <li>
                    <img
                      src="assets/img/logo/pole.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="assets/img/logo/cnes.png"
                      class="img-responsive"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="assets/img/logo/usgs.png"
                      class="img-responsive"
                      alt=""
                    />
                  </li>
                  <li>
                    <img
                      src="assets/img/logo/iau.jpg"
                      class="img-responsive"
                      alt=""
                    />
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/init.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </body>
</html>
